*{
  background-color: #74E6F3;
}
button.btn.btn-primary{
  display: flex;
  flex-direction: center;
}
div .card-title.h5, .card-text  {
 background-color: whitesmoke;
}
div.form-group {
  display: flex;
  flex-direction: wrap;
  gap: 10px;
}
div.card-body {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  justify-content: center;
  align-items: stretch;
}
h3 {
  color: #445658;
}
img.card-img.i{
  display: flex;
  flex-direction: center;
}
ul.user-dog-form{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
}
ul.dog-list{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
}
.nav {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.switch {
  display: flex;
  justify-content: center;
}